%section#schedule
  - if @schedule.blank?
    %div{class: 'alert-box alert', 'data-alert' => ''}
      %p Boo... Something went wrong. Schedules were not found or had errors.

  - else

    %h2 Upcoming Games
    .row
      .small-12.large-12.columns

        - @schedule[:future_games][0..3].each do |game|
          = render partial: 'game', locals: { game: game, played_game: false }

        .full-schedule
          - games_left = @schedule[:future_games].count - 4
          - if games_left > 0
            = raw "<p><i>#{games_left} additional games</i></p>"
          = link_to 'View Full Team Schedule', team_schedule_path