%section#schedule
  - if @vendetta_schedule.blank?
    %div{class: 'alert-box alert', 'data-alert' => ''}
      %p Boo... Something went wrong. Schedules were not found or had errors.

  - else

    %h2 Upcoming Games
    .row
      .small-12.large-12.columns

        - @vendetta_schedule[:future_games][0..3].each do |game|
          = render partial: 'game', locals: { game: game, played_game: false }

        .full-schedule.show-for-medium-up
          = link_to 'View Full Team Schedule', team_vendetta_path

          - unless ENV['VENDETTA_SCHEDULE_URL'].blank?
            = link_to 'Go To League Schedule', ENV['VENDETTA_SCHEDULE_URL']