
%section#schedule
  %h2
    Full Schedule

  - if @data[:schedule].nil? or @data[:schedule] == false
    %div{class: 'alert-box alert', 'data-alert' => ''}
      %p Boo... Something went wrong. Schedule was not found or had errors. 

  - else
    .container
      .small-12.columns
        %a{:href => calendar_path, class: 'button tiny right'}
          View as Calendar

        .game-list
          - if @data[:schedule][:future_games].blank?
            %p Bummer... no upcoming games posted.
          - else
            - @data[:schedule][:future_games].each do |game|
              = render partial: 'game', locals: { game: game, played_game: false }

          - unless @data[:schedule][:past_games].blank?
            %h3 Played Games

            - @data[:schedule][:past_games].reverse.each do |game|
              = render partial: 'game', locals: { game: game, played_game: true }
