%section#manage
  %h2 Manage
  .row
    .small-12.large-12.columns
      .panel.link-panel
        %a{href: players_path, class: 'button'}
          = fa_icon "users"
          Players

      .panel.link-panel
        %a{href: games_path, class: 'button'}
          = fa_icon "calendar"
          Games