
%hr

= link_to 'Edit', edit_game_path(@game), class: 'button tiny'
= link_to 'Back', games_path, class: 'button tiny secondary'

= link_to 'Delete', game_path(@game), class: 'button tiny alert', method: :delete

