// import the CSS framework
@import "foundation";
@import "font-awesome";
@import "jquery-ui";

body {
  background-color: #eee;
}
// override for the 'Home' navigation link
.top-bar {
  background-color: #646262;
  height: 50px;
}
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 50px;
  height: 50px;
}
.top-bar .name h1 a {
  font-weight: bold;
  color: white;
  padding: 0 15px;
  font-size: 1.3em;
  line-height: 50px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #000000;
  line-height: 50px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  line-height: 50px;
}
.top-bar-section ul li {
  background: none;
}
nav.expanded .top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 25px;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  padding: 15px 0 25px 0;

  @media (max-width: 638px) {
    padding: 10px 0;
  }
}
section {
  @extend .row;
}

nav {
  ul.right {
    li {
      text-align: center;
    }
  }

  h1 {
    a {
      font-weight: bold;
    }
    img {
      border-radius: 8px;
      height: 36px;
      margin-right: 5px;
    }
  }
}

.clear {
  clear: both;
}