$border_color: #cc0000;

#schedule {
  h2, h3, h4 {
    border-bottom: 1px solid $border_color;
    margin: 15px;
    margin-bottom: 20px;
  }

  .row {
    margin: 0 10px;

    div > div {
      padding: 2px;
    }
  }

  .game {
    margin: 0;
    margin-bottom: 20px;
    background-color: #ffffff;

    div {
      line-height: 25px;
    }
    .teams {
      div {
        padding-left: 15px;
      }
    }

    .scores {
      font-weight: bold;
      text-align: center;
      background: none;

      div {
        font-weight: bold;
      }
    }

    .date, .details {
      font-size: 1em;
      text-align: right;
    }

    .date {
      font-size: 1em;
      font-weight: bold;
    }

    .details {
      font-size: 0.9em;

      .date {
        font-size: 1em;
        font-weight: bold;
      }

      .rink {
        &:before {
          content: " - "
        }
      }
    }

    .content > div {

      strong {
        font-size: .9em;
      }
      p {
        margin: 0;
        font-size: .9em;
        padding-left: 15px;
      }
    }

    .stats-wrapper {
      background: none;
      padding: 0 10px;
      line-height: 1em;

      a {
        text-align: right;
        display: block;

        &:active, &:hover {
          background: none;
          color: #000000;
        }
      }
      a, i {
        font-size: .7em;
      }
      .content {
        display: none;
        text-align: center;

        div {
          line-height: 15px;
        }

        .panel {
          margin: 10px;
          padding: 10px;
          background: #e8e8e8 none repeat scroll 0 0;
          border-radius: 10px;

          strong {
            margin-bottom: 10px;
          }
        }
      }

      table {
        width: auto;
        border: 0;
        text-align: center;
        margin: 0 auto;
        background: none;

        tr {
          background: none;

          td {
            padding: 5px;
          }
        }
      }
    }
  }

  .full-schedule {
    margin: 25px;
    display: block;

    a {
      display: inline-block;
      margin-right: 45px;
    }
  }

  .game-list {
    margin-top: 50px;
  }
}

#scheduleCalendar {

  h2 {
    border-bottom: none;
    font-size: 1.5em;
    margin: 0;
  }

  .fc-button {
    &.fc-state-hover {
      background: none;
      background-color: red;
    }
  }

  .fc-event-container {
    .fc-day-grid-event {
      border-color: #000000;
      text-align: center;
      padding: 3px;
    }
    .home-team {
      background-color: #c20201;
    }
    .away-team {
      background-color: #676767;
    }
    .fc-title {
      display: block;
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      white-space: pre-wrap;       /* css-3 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
      word-break: normal;
      white-space: normal;
      font-size: .9em;
    }
  }

  .fc-widget-header {
    table {
      margin-bottom: 1px;
    }
  }
}

#scheduleCalendarLegend {
  text-align: right;

  div {
    padding: 5px;
    font-size: .8em;
    color: #ffffff;
    border: 1px solid #000000;
    display: inline-block;
  }
  .away-team {
    background-color: #676767;
  }
  .home-team {
    background-color: #c20201;
  }

}