$border_color: #cc0000;

#schedule {
  h2, h3, h4 {
    border-bottom: 1px solid $border_color;
    margin: 15px;
    margin-bottom: 20px;
  }

  .row {
    margin: 0 10px;

    div > div {
      padding: 5px;
      background-color: #ffffff;

      &:nth-of-type(2n) {
        background-color: #f9f9f9;
      }
    }

    div.columns {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .game {
    margin-bottom: 20px;

    div {
      line-height: 25px;
    }
    .teams {
      div {
        padding-left: 15px;
      }

    }

    .scores {
      div {
        font-weight: bold;
      }
    }

    .details {
      font-size: .8em;

      .date {
        font-size: 1.1em;
        font-weight: bold;
      }

      .rink {
        &:before {
          content: " - "
        }
      }
    }
  }

  .full-schedule {
    margin: 25px;
    display: block;

    a {
      display: inline-block;
      margin-right: 45px;
    }
  }

  .game-list {
    margin-top: 50px;
  }
}

#scheduleCalendar {

  h2 {
    border-bottom: none;
    font-size: 1.5em;
    margin: 0;
  }

  .fc-button {
    &.fc-state-hover {
      background: none;
      background-color: red;
    }
  }

  .fc-event-container {
    .fc-day-grid-event {
      border-color: #000000;
      text-align: center;
      padding: 3px;
    }
    .home-team {
      background-color: #c20201;
    }
    .away-team {
      background-color: #676767;
    }
    .fc-title {
      display: block;
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      white-space: pre-wrap;       /* css-3 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
      word-break: normal;
      white-space: normal;
      font-size: .9em;
    }
  }

  .fc-widget-header {
    table {
      margin-bottom: 1px;
    }
  }
}

#scheduleCalendarLegend {
  text-align: right;

  div {
    padding: 5px;
    font-size: .8em;
    color: #ffffff;
    border: 1px solid #000000;
    display: inline-block;
  }
  .away-team {
    background-color: #676767;
  }
  .home-team {
    background-color: #c20201;
  }

}