%li{class: (params['action'] == 'team_vendetta') ? 'active' : ''}
  %a{:href => team_vendetta_path}
    Team Schedule

- unless ENV['VENDETTA_SCHEDULE_URL'].blank?
  %li
    %a{:href => ENV['VENDETTA_SCHEDULE_URL']}
      League Schedule

- unless ENV['VENDETTA_STATS_URL'].blank?
  %li
    %a{:href => ENV['VENDETTA_STATS_URL']}
      Team Stats