%li{class: (params['action'] == 'team_vendetta') ? 'active' : ''}
  %a{:href => team_vendetta_path}
    Full Schedule

//%li{class: (params['action'] == 'team_weekend_warriors') ? 'active' : ''}
//%a{:href => team_weekend_warriors_path}
//Weekend Warriors