%li{class: (params['action'] == 'team_vendetta') ? 'active' : ''}
  %a{:href => team_vendetta_path}
    Team Schedule

%li{class: (params['action'] == 'calendar') ? 'active' : ''}
  %a{:href => calendar_path}
    Calendar

- unless ENV['VENDETTA_SCHEDULE_URL'].blank?
  %li
    %a{:href => ENV['VENDETTA_SCHEDULE_URL']}

- unless ENV['VENDETTA_STATS_URL'].blank?
  %li
    %a{:href => ENV['VENDETTA_STATS_URL']}
      Team Stats

- if user_signed_in?
  - if current_user.try(:admin?)
    %li{class: (params['controlller'] == 'manage') ? 'active' : ''}
      %a{:href => manage_path}
        Manage

  %li
    = link_to 'Logout', destroy_user_session_path, method: :delete